body {
  background-image: linear-gradient(to right, #e66465, #9198e5);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 10vh;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
}
